$blue: rgb(60, 70, 210);
$lightblue: rgba(160, 170, 240, 0.5);
$darkblue: rgb(10, 40, 130);

$green: rgb(61, 169, 53);

$shadow: rgba(0, 0, 0, 0.2);
$dark-shadow: rgba(0, 0, 0, 0.8);

$breakpoint: 768px;

$card-height: 96px;
